.fancy-header{
    color: purple;
    text-decoration: underline;
}
header img {
    max-width: 100%;
    object-fit: cover;


}
table {
    font-family: "Times New Roman", times, Serif;
    font-style: initial;
    background-color: #E6ECF0;
}
div.bg-color{
    background-color: #DDDDDD;
}
h1.center-align{
    text-align: center;
}
header {
   text-decoration: underline;
    background-position: left;
    font-style: oblique;
}
nav.img-bg{
    background-image: url("../img/ocean-blue.jpg");
    background-size: cover;
}
nav h4 {
    background-color: cadetblue;
}
img {
    width: calc(50%- 3px);
    max-height: 500px;
    object-fit: cover;
    display: inline-block;
    aspect-ratio: 3/4;
}
ol{
    list-style: square;
    font-family: Helvetica, Arial, Sans-Serif;
}
ul{
    list-style: upper-roman;
    font-family: Helvetica, Arial, Sans-Serif;

}
td{
    padding: 5px;
    font-size: medium;
    font-style: unset;
}
tr{
    padding: 5px;
    font-size: medium;
    font-style: unset;
}
a{
    color: blueviolet;

}
a:visited{
    color: indianred;
}
a:hover{
    color: cornflowerblue;
}


