.page-wrapper {
    background-color: lightgray;
}
#map {
    height: 30rem;
    width: 100%;
    margin: 2px;
}

.card {
    margin: 5px;
}

.form-control {
    width: 50%;
}

.hover {
    border: 8px solid;
    border-image: repeating-linear-gradient(135deg, #FF31317F 0 10px, #00FFFF7F 0 20px, #00FFFF7F 0 30px) 8;
    -webkit-mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0  /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}

.hover:hover {
    --_i: 100%;
    color: #CC333F;
    transition: .3s, -webkit-mask-size .3s .3s;
}
.card {
    position: relative;
    background: transparent;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    margin: 3em;
}
.card {
    margin: 3px;
    border: 5px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}